body {
  font-family: sans-serif;
  background-color: #f9fdff;
}

.header {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  margin-left: 15px;
  margin-top: 15px;
}
.hamburger {
  display: inline-block;
  cursor: pointer;
  width: 21px;
  height: 21px;
  margin: 0px 0px 0 0;
  padding: 5px 5px;
  box-shadow: 0 10px 20px 0 rgba(37, 119, 167, 0.07);
  background-color: #ffffff;
  border-radius: 50%;
  overflow: auto;
}

.line-1,
.line-2,
.line-3 {
  width: 14px;
  height: 2px;
  margin: 3px 0 0;
  border-radius: 1px;
  background-color: #009cde;
  margin-left: 3px;
}
.line-1 {
  margin-top: 4px;
}
.logo {
  height: 30px;
  overflow: auto;
  grid-column-start: 2;
  grid-column-end: 5;
}
.heading {
  width: 91px;
  height: 30px;
  margin: 40px 234px 30px 20px;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: black;
}

.search-container-1 {
  width: 235px;
  height: 25px;
  margin-left: 15px;
  padding: 20px 68px 10px 30px;
  border-radius: 40px;
  box-shadow: 0 7px 15px 0 #f9fdff;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.search {
  width: 220px;
  height: 15px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  padding: 10px 12px;
  outline: none;
  margin: -4px 5px 5px 10px;
  font-size: 20px;
  color: #636363;
  opacity: 0.7;
  font-weight: lighter;
  background-color: #ffffff;
  grid-column-start: 2;
  grid-column-end: 4;
}
.search {
  grid-column-start: 2;
  grid-column-end: 4;
}

.card-container {
  display: grid;
  grid-template-rows: auto;
}
.card {
  width: 245px;
  height: 303px;
  margin: 20px 17px 20px 16px;
  padding: 28px 41px 36px 40px;
  border-radius: 20px;
  box-shadow: 0 7px 15px 0 rgba(23, 115, 166, 0.07);
  background-color: #ffffff;
}
.buy-currency {
  width: 190px;
  height: 36px;
  margin: 0 134px 20px 0;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: black;
}
.what-currencies {
  width: 270px;
  height: 22px;
  margin: 15px 43px 18px 0;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #009cde;
}
.see-all-article {
  width: 116px;
  height: 22px;
  margin: 25px 148px 30px 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #86c306;
}
.see-all-article-payment {
  width: 116px;
  height: 22px;
  margin: 155px 148px 30px 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #86c306;
}
.see-all-article-others {
  width: 116px;
  height: 22px;
  margin: 70px 148px 30px 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #86c306;
}
.see-all-article-security {
  width: 116px;
  height: 22px;
  margin: 105px 148px 30px 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #86c306;
}
.see-all-article-ref {
  width: 116px;
  height: 22px;
  margin: 190px 148px 30px 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #86c306;
}

/* .grid-view {
  display: block;
}

.logo {
  margin: 0px 35px 30px 6px;
  width: 120px;
  height: 35px;
}
.side-bar {
  display: flex;
  flex-direction: column;
  margin: 5px 200px 0 35px;
  width: 1150px;
}
.topic {
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: grey;
  opacity: 0.7;
}
.topic-below {
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: rgb(3, 33, 51);
  width: 80px;
}
.support-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1185px;
}
.support {
  width: 91px;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: black;
  margin-left: 25px;
  width: 920px;
}
.currency {
  margin-right: 50px;
  border: none;
  outline: none;
  font-size: 14px;
  color: grey;
  background-color: #f9fdff;
  margin-left: 53px;
  margin-top: 36px;
}
.currency-content {
  margin-right: 20px;
  border: none;
  outline: none;
  background-color: #ffffff;
}

.support-button {
  background-color: #86c306;
  border: none;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  cursor: pointer;
  outline: none;
  width: 180px;
  height: 44px;
  font-weight: bolder;
  margin-top: 25px;
}
.search-container {
  width: 1485px;
  height: 25px;
  margin-left: 15px;
  padding: 20px 68px 10px 30px;
  border-radius: 40px;
  box-shadow: 0 7px 15px 0 #f9fdff;
  background-color: #ffffff;
  display: flex;
  margin-top: 10px;
  margin-left: -1100px;
  margin-bottom: 350px;
}

.search1 {
  width: 850px;
  height: 35px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  padding: 18px;
  outline: none;
  margin: -8px 5px 5px 10px;
  font-size: 16px;
  color: #636363;
  opacity: 0.7;
  font-weight: lighter;
  background-color: #ffffff;
}
.search {
  grid-column-start: 2;
  grid-column-end: 4;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  margin-top: 200px;
}
.card {
  width: 325px;
  height: 283px;
  margin: 20px 17px 20px 16px;
  padding: 28px 41px 36px 40px;
  border-radius: 50px;
  box-shadow: 0 7px 15px 0 rgba(23, 115, 166, 0.07);
  background-color: #ffffff;
}
.buy-currency {
  width: 190px;
  height: 36px;
  margin: 0 134px 20px 0;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: black;
}
.what-currencies {
  width: 270px;
  height: 22px;
  margin: 21px 43px 18px 0;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #009cde;
}
.see-all-article {
  width: 116px;
  height: 22px;
  margin: 25px 148px 30px 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #86c306;
}
.see-all-article-verifiy {
  width: 116px;
  height: 22px;
  margin: 55px 148px 30px 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #86c306;
}
.see-all-article-wallet {
  width: 116px;
  height: 22px;
  margin: 55px 148px 30px 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #86c306;
}
.see-all-article-payment {
  width: 116px;
  height: 22px;
  margin: 55px 148px 30px 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #86c306;
}
.see-all-article-others {
  width: 116px;
  height: 22px;
  margin: 55px 148px 30px 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #86c306;
}
.see-all-article-security {
  width: 116px;
  height: 22px;
  margin: 55px 148px 30px 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #86c306;
}
.see-all-article-ref {
  width: 116px;
  height: 22px;
  margin: 55px 148px 30px 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #86c306;
}
.side-bar {
  display: none;
}
.main-body {
  display: none;
}

@media screen and (min-width: 900px) {
  .side-bar {
    display: block;
  }
  .main-body {
    display: flex;
  }
  .flex-view {
    display: flex;
  }
  .grid-view {
    display: none;
  }
} */
