body{
    font-family: sans-serif;
}
.bodyContainer{
    background-color: rgb(224, 221, 221);
    z-index:0;
    height:1000px;
    width: 1600px;
    margin-left:100px;
    margin-top: 50px;
    border-radius: 10px;
    overflow: auto;
}
.mainContainer{
    background-color: white;
    height:800px;
    width:1400px;
    margin-left: 95px;
    margin-top:125px;
    border-radius: 50px;
    overflow: auto;
}
.childContainer1{
    background-image: linear-gradient(to bottom, #5b06f8, #7a37f7 96%);
    height:680px;
    width:400px;
    margin-left: 50px;
    margin-top:60px;
    border-radius: 20px;
    overflow: auto;

}
.heading1{
    color:white;
    font-size: 45px;
    font-weight: lighter;
    outline:none;
    margin-left: 35px;
    margin-top:70px;
    overflow: auto;
}
.heading2{
    color:white;
    font-size: 45px;
    font-weight: light;
    outline:none;
    margin-left: 35px;
    margin-top:-32px;
    overflow: auto;
}
.heading3{
    color:white;
    font-size: 20px;
    outline:none;
    margin-left: 35px;
    margin-top:17px;
    overflow: auto;
    margin-bottom: -10px;
}

.heading4{
    color:white;
    font-size: 20px;
    outline:none;
    margin-left: 35px;
    overflow: auto;
}
.childContainer2{
    background-color:#e4f1f8;
    height:650px;
    width:400px;
    margin-left: 540px;
    margin-top:50px;
    border-radius: 20px;
    overflow: auto;
}
.heading5{
    color:black;
    font-size: 45px;
    font-weight: lighter;
    outline:none;
    margin-left: 520px;
    margin-top:-670px;
    overflow: auto;
    margin-bottom:-35px;
}
.heading6{
    color:black;
    font-size: 45px;
    outline:none;
    margin-left: 520px;
    overflow: auto;
}
.heading7{
    color:black;
    font-size: 15px;
    font-weight: bold;
    outline:none;
    float:right;
    margin-right: 40px;
    margin-top:-780px;
    overflow: auto;
    margin-bottom:-35px;
}
.heading8{
    color:blue;
    font-size: 15px;
    font-weight: bold;
    outline:none;
    float:right;
    margin-right: 45px;
    margin-top:-760px;
    overflow: auto;
    margin-bottom:-35px;
}

.dummy-img{
    text-align: center;
}

  .childcontainer2 {
    width: 300px;
    height: 520px;
    border-radius: 20px;
    background-color:#f5fbff;
    padding: 10px 35px;
    margin-left:520px;
    margin-top: 25px;
  }
  .containerContent2{
    display: flex;
    flex-direction: row;
  }
  .contentHeadleft {
    font-size: 32px;
    font-weight: bold;
  }
  .contentHeadright {
    font-size: 26px;
    font-weight: 400;
    margin-left: 195px;
    margin-top: 35px;
  }
  .underline1 {
    width: 17px;
    height: 3px;
    background-color: #5b06f8;
    margin-left: 3px;
    margin-top: -20px;
    border: none;
  }
  .contentHead3 {
    font-size: 12px;
    opacity: 0.5;
    margin-top: -36px;
    align-items: center;
  }
  .sign-1 {
    font-size: 20px;
    font-weight: 500;
    color: #5b06f8;
    padding-right: 20px;
  }
  .paragraph {
    display: flex;
    flex-direction: row;
    margin: 30px 0px 10px 0px;
  }
  .containerPlan-content-1 {
    margin-top: -0px;
    opacity: 0.9;
  }
  .containerPlan {
    margin: 10px 0px 10px 0px;
  }
  
  .viewallFeature1{
    margin-top: 50px;
  }
  .viewallFeature1 p {
    font-size: 15px;
    color: black;
    margin-left: 80px;
    text-decoration: none;
    font-weight: lighter;
  }
  .button-1 {
    border-radius: 10px;
    color: white;
    background-color: #5b06f8;
    font-size: 15px;
    font-weight: bold;
    width: 285px;
    margin: 20px 0px 10px 20px;
    height: 55px;
    padding: 10px 10px 10px 10px;
    border: none;
  }
  

  .areYoucorporate-top{
      margin-left: 700px;
  }
  .Corporate-contact{
      text-align: right;
      margin-right:200px;
      margin-top: -690px;
  }
  .contact-us{
      text-decoration: none;
      font-size:14px;
  }
  .container3Head a{
    text-decoration: none;
    color: #5b06f8;
    font-weight: bold;
}
.childContainer-3 {
  width: 290px;
  height: 522px;
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #5b06f8, #7a37f7 96%);
  padding: 10px 35px;
  margin-top: 50px;
  margin-left: 1060px;
}
.containerpro {
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.containerMonthly {
  font-size: 26px;
  font-weight: 400;
  margin-left: 220px;
  margin-top: -65px;
  color: white;
}
.monthly {
  width: 17px;
  height: 3px;
  background-color: white;
  margin-left: 3px;
  margin-top: -5px;
  border: none;
}
.content3Head3 {
  font-size: 12px;
  opacity: 0.8;
  margin-left: 226px;
  margin-top: -30px;
  align-items: center;
  color: white;
}
.content2Topic{
    color: white;
    margin-top: 35px;
}
.sign-2 {
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding-right: 20px;
  margin-bottom: 10px;
}
.points3{
    color: white;
}
.facebook{
    margin-top: -28px;
    color: white;
    margin-left:35px;
}
.pointunlimited {
  margin-top: 10px;
  margin-bottom: -10px;
}
.viewallFeaturelastblock p {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: white;
  margin-left: 70px;
  margin-top: 70px;
}
.button-2 {
  border-radius: 10px;
  color: #5b06f8;
  background-color: white;
  font-size: 15px;
  font-weight: bold;
  width: 285px;
  margin: 10px 0px 10px 5px;
  height: 52px;
  padding: 8px 10px 10px 8px;
  border: none;
}
.containerAllof-content-1 {
  margin-top: -0px;
  opacity: 0.9;
}
.containerAllof {
  margin: 10px 0px 10px 0px;
}
  